.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.colum {
    width: 50%;
    padding: 7px;    
}

.colum img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;  
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    transition: 2s;  
}

.colum img:hover {
    border: 5px solid #000000;
    border-radius: 5vw; 
    filter: brightness(60%);   
}

.galeria_imatges {
    text-align: center;
    width: 100%;
    padding: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.galeria_imatges h1{
    font-size: 1.7vw;
    color: rgb(0, 0, 0);
}

.galeria_imatges h2{
    font-size: 1.5vw;
    color: rgb(44, 44, 44);
}

@media only screen and (max-width: 600px) {
    .colum {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
